$darknavy: rgba(0, 11, 38, 0.8)
$lightgray: rgba(62, 80, 114, 0.08)

.filterbutton
    font-family: Inter
    font-size: 14px
    font-weight: 400
    line-height: 20px
    color: $darknavy
    background: $lightgray
    border-radius: 61px
    padding: 10px 20px
    display: flex
    align-items: center
    border: none

.filterbutton:focus
    background: $darknavy
    color: white
